/* Body */
body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    font-weight:bold;
    font-size: large;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

header {
    width: 95%;
    background-color: white; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin:0px;
    padding-bottom : 20px; 
}

.header_bloc1 {
    display: flex;
    background-color:white;
    flex: 1;
}   

.header_bloc1 img {
    margin-left: 50px;
    margin-top: 0px;
    padding: 50px 0px 0px 25px;
}

nav {
    display: flex;
    align-items: center;
    margin-top: 0px;
    padding: 0px;
}

.anchor_accomodation {
    padding: 40px 40px 35px 25px;
    
}

.anchor_accomodation:hover {
    border-top: #0065FC 2px solid;
}

.anchor_activities {
    padding: 40px 40px 35px 25px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.anchor_activities:hover {
    border-top: #0065FC 2px solid;
}

.registration {
    padding: 40px 40px 35px 25px;
    color: #0065FC;
    font-weight: bold;
}

.search { 
    font-size: x-large;
    padding: 5px;
    margin: 0px;
}

.search h1 {
    font-size: x-large;
    padding-left: 45px;
}

.search p {
    margin-left: 15px;
    font-size: medium;
    padding-left: 35px;
}

.search form {
    font-size: large;
    padding-top: 10px;
    padding-left: 40px;
    margin-top: 0px;
    border: #F2F2F2;
    display: flex;
}

.icon_map {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    background-color: #f2f2f2;
    margin: 0px;
    padding: 20px;
}

.search_holder {
    font-weight: bold;
    font-size: large;
    border: 1px solid #F2F2F2 ;
}

::placeholder {
    color: black;
    font-size: large;
    padding-left: 20px;
    padding-right: 25px;
}

.search_button {
    font-size: large;
    border-radius: 0px 20px 20px 0px;
    background-color: #0065fc;
    border: #0065fc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
}

.search_button:hover {
    cursor:pointer;
}

.search_button i{
    display: none;
}

.filters {
    width: 100%;
    font-weight:bold;
    font-size:medium;
    display: flex;
    align-items: baseline;
}

.filters h4 {
    font-weight:bold;
    font-size: medium;
    padding-left: 50px;
}

.filters_list {
    font-weight:bold;
    font-size: medium;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.filters_list i {
    font-weight:bold;
    font-size: medium;
    padding: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 25px;
    margin-left: -15px;
    margin-right: 10px;
}

.filters_list li {
    display: flex;
    align-items: center;
    font-weight:bold;
    font-size: medium;
    border: solid 2px #e2e2e2;
    border-radius: 25px;
    padding: 0px 15px 0px 15px;
    margin-right: 15px;
}

.filters_list li:hover {
    color: #0065FC;
    border: solid 2px #0065FC;
    cursor:pointer;
    text-shadow: 0 0 10px rgb(255 255 255), 0 0 50px rgb(255 255 255 / 80%), 0 0 75px rgb(255 255 255 / 60%), 0 0 76px rgb(255 255 255 / 40%), 0 0 77px rgb(255 255 255 / 50%), 0 0 78px rgb(255 255 255 / 40%), 0 0 79px rgb(255 255 255 / 30%), 0 0 80px rgb(255 255 255 / 20%), 0 0 85px rgb(255 255 255 / 10%);
}

.info {
    padding: 0px 20px 0px 20px;
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
}

.icon_info { 
    color: white;
    border-radius: 20px;
    border: solid 2px #F2F2F2;
    margin: 10px;
}

.icon_info i {
    color: #0065FC;
}

/*  - -MAIN CONTENT- - **/

main {
    width: 100%;
    border-radius: 15px;
    display: flex;
    background-color:white;
}

.star{
    color: #0065fc;
}

.greyStar {
    color:#F2F2F2;

}

/*  - -ACCOMODATION- - **/

.accomodation {
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin: 15px;
    padding: 20px;
}

.accomodation_h2 {
    width: 100%;
    font-weight: bold;
    font-size: x-large;
    padding-left: 2.5%;
    margin: 0px;
}

.accomodation h4 {
    padding-left: 30px;
}

.Accomodation_bloc {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.accomodation_card_line {
    width: 100%;
    display: flex;
}

.accomodation_h3 {
    font-weight: bold;
    font-size: medium;
    padding: 0px;   
    margin: 0px;
}

.Accomodation_card {
    width: 100%;
    border: white 4px solid;   
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accomodation_images {
    width: 100%;   
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0px;
    padding: 0px;
}

.accomodation_card_text{
    margin: 5px 0px 5px 15px;
}

.most_popular {
    width: 30%;
    background-color:#F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
}

.most_popular_h2 {
    width: 100%;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    margin: 0px; 
    padding: 0px;
}

.most_popular_h3 {
    width: 100%;
    display: flex;
    font-weight: bold;
    font-size: medium;
    margin: 0px;
    padding: 0px;
}

.most_popular_bloc {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: #F2F2F2;
    margin: 5px;
    padding: 5px;
}

.most_popular_card { 
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: white;
    border-radius: 20px;
    margin: 15px 0px 15px 0px;;
    padding: 5px;
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 15px;
}

.most_popular_images {
    width: 100%;   
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}

.activities {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activities_h2 {
    padding-left: 2.5%;
    font-weight: bold;
    font-size: x-large;
}

.activities_bloc {   
    width: 100%;
    display: flex;  
}

.activities_bloc1 {
    width: 100%;
    height: 100%;
    display: flex;
}

.activities_bloc2 {  
    width: 100%;
    height: 100%;
    display:flex;
}

.activities_h3 {
    font-weight: bold;
    font-size: medium;
    padding: 0px;
    margin: 15px;
}

.activities_alone {
    margin: 15px;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activities_double {
    margin: 15px;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activities_card1 {
    width: 100%; 
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.activities_card2 {  
    width: 100%; 
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.activities_card3 {
    width: 100%; 
    height: 100%;   
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-top:  25px;
}

.activities_card4 {
    width: 100%;  
    height: 100%; 
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.activities_card5 {
    width: 100%; 
    height: 100%;  
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.activities_card6 {
    margin-top:  25px;
    width: 100%;  
    height: 100%; 
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.activities_images_alone {
    width: 100%;
    height: 410px;
    object-fit: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}

.activities_images_double1 {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities_images_double2 {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities_images_double3 {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities_images_double4 {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer h4 {
    font-weight: bold;
    font-size: larger;
}

.footer_box {
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

footer li {
    margin: 0px 0px 10px 0px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.footer a:hover {
    color: #0065fc;
  }

  /*  - - - - - - - - - - 1023px - - - - - - - - - - */

@media screen and (max-width: 1023px)
{
    body {
        width: 100%;
    }
        .header_bloc {
            width: 100%;
            flex-wrap: wrap;   
        }
    
        .header_bloc1  {
            order: 1;
            width: 45%;
        }
    
        .header_bloc nav {
            order: 3;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .header_bloc1 img {
            margin-left: 0px;
            margin-top: 0px;
            padding: 0px 0px 0px 25px;
        }
        
        nav {
            display: flex;
            align-items: center;
            margin-top: 0px;
            padding: 0px;
        }
        
        .anchor_accomodation {
            padding: 0px 40px 0px 0px;
            
        }
        
        .anchor_accomodation:hover {
            border-top: #0065FC 2px solid;
        }
        
        .anchor_activities {
            padding: 0px 40px 0px 0px;
            align-items: center;
            justify-content: center;
            margin-top: 0px;
        }
        
        .anchor_accomodation:hover {
            border-top: white;
            border-bottom: #0065FC 2px solid;
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;           
        }

        .anchor_activities:hover {
            border-top: white;
            border-bottom: #0065FC 2px solid;
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
        }
    
        .header_bloc .registration {
            order: 2;
            padding: 20px 20px 20px 20px;
        }
    
        .search_button span {
            display: none;
        }
    
        .search_button i {
            display: block;
            color: white;
            font-size: 25px;
        }

        .search { 
            font-size: x-large;
        }

        .search h1 {
            font-size: x-large;
            padding-left: 10px;
        } 

        .search p {
            font-size: medium;
            padding-left: 10px;
            margin: 0px;
        }

        .search form {
            background-color:white;
            border-radius: 20px;
            font-size: medium;
            border: #F2F2F2 1px solid;
            display: flex;
            padding: 0px;
            margin-left: 10px;
            margin-top: 20px;
            margin-right: 20px;
        }

        .icon_map {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            background-color: #f2f2f2;
                }

        .search_holder {
            width: 70%;
            font-weight: bold;
            font-size: medium;
        }

        ::placeholder {
            color: black;
            font-size: medium;
        }

        .search_button {
            width: 20%;
            font-size: xx-small;
            border-radius: 15px;
            background-color: #0065fc;
            color: blue;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .filters {
            width: 100%;
            font-weight:bold;
            font-size:medium;
            display: flex;
            flex-direction: column;
        }

        .filters h4 {
            font-weight:bold;
            font-size: medium;
            padding-left: 10px;
            margin-top: 20px;
        }

        .filters_list {
            font-weight:bold;
            font-size: medium;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding-left: 0px;
        }

        .filters_list i {
            font-weight:bold;
            font-size: medium;
            padding: 15px;
            color: #0065FC;
            background-color: #DEEBFF;
            border-radius: 25px;
        }

        .filters_list li {
            display: flex;
            align-items: center;
            font-weight:bold;
            font-size: medium;
            border: solid 2px #e2e2e2;
            border-radius: 25px;
            margin: 10px;    
        }

        .filters_list li:hover {
            color: #0065FC;
            border: solid 2px #0065FC;
            cursor:pointer;
            text-shadow: 0 0 10px rgb(255 255 255), 0 0 50px rgb(255 255 255 / 80%), 0 0 75px rgb(255 255 255 / 60%), 0 0 76px rgb(255 255 255 / 40%), 0 0 77px rgb(255 255 255 / 50%), 0 0 78px rgb(255 255 255 / 40%), 0 0 79px rgb(255 255 255 / 30%), 0 0 80px rgb(255 255 255 / 20%), 0 0 85px rgb(255 255 255 / 10%);
        }

        .search_button:hover {
            cursor:pointer;
        }

        body {
            max-width: 100%;
            background-color: white;
        }

        main{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            border-radius: 0px;
        }

        .accomodation {
            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
        }

        .accomodation_h2 {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-weight: bold;
            font-size: large;
        }

        .Accomodation_bloc {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        .accomodation_card_line {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .accomodation_h3 {
            font-weight: bold;
            font-size: medium;
            padding: 0px;   
            margin: 0px;
        }

        .Accomodation_card {
            width: 130%;
            display: flex;
            border: white 4px solid;   
            background-color: white;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            font-size: small;
        }

        .card {
            display: flex;
            flex-direction: column;
        }
        .accomodation_images {  
            height: 120px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin: 0px;
            padding: 0px;
        }

        .most_popular {
            width: 100%;
            background-color: #F2F2F2;
            display: flex;
            flex-direction: column;
            border-radius: 0px;
            margin: 0px;
            padding: 0px;
        }

        .most_popular_bloc {
            display: flex;
            flex-direction: column;
            border-radius: 5%;
            background-color: #F2F2F2;
            margin: 5px;
            padding: 5px;
        }

        .most_popular_card { 
            font-size: small;
            width: 90%;
            display: inline-flex;
            flex-wrap: nowrap;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            background: white;
            border-radius: 20px;
        }

        .most_popular_h2{
            font-size:large;
        }

        .activities {
            display: flex;
            flex-direction: column;
            border-radius: 0px;
            margin: 0px;
            padding: 0px;
        }

        .activities_h2 {
            font-weight: bold;
            font-size: large;
        }

        .activities_bloc{   
            width: 100%;
            display: flex;  
            flex-direction: column;
        }

        .activities_bloc1{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .activities_bloc2{  
            width: 100%;
            height: 100%;
            display:flex;
            flex-direction: column;
        }

        .activities_h3{
            font-weight: bold;
            font-size: medium;
            padding: 0px;
            margin: 15px;
        }

        .activities_alone{
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .activities_double {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .activities_card1{
            width: 100%;
            height: 100%;
            background-color: white;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            border-radius: 30px;
            margin: 20px 0px 20px 0px;
        }

        .activities_card2{  
            width: 100%; 
            height: 100%;
            background-color: white;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            border-radius: 30px;
            margin: 20px 0px 20px 0px;
        }

        .activities_card3{
            width: 100%; 
            height: 100%;   
            background-color: white;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            border-radius: 30px;
            margin: 20px 0px 20px 0px;
        }

        .activities_card4{
            width: 100%;  
            height: 100%; 
            background-color: white;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            border-radius: 30px;
        }

        .activities_card5{
            width: 100%; 
            height: 100%;  
            background-color: white;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            border-radius: 30px;
            margin: 20px 0px 20px 0px;
        }

        .activities_card6{
            width: 100%;  
            height: 100%; 
            background-color: white;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
            border-radius: 30px;
            margin: 20px 0px 20px 0px;
        }

        .activities_images_alone {
            width: 100%;
            height: 130px;
            object-fit: cover;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
        
        }

        .activities_images_double1 {
            width: 100%;
            height: 130px;;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .activities_images_double2 {
            width: 100%;
            height: 130px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .activities_images_double3 {
            width: 100%;
            height: 130px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .activities_images_double4 {
            width: 100%;
            height: 130px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        
        .footer{
            display: flex;
            flex-direction: column;
        }
}

/*  - - - - - - - - - - 768px - - - - - - - - - - */

@media screen and (max-width: 768px)
{
/*  - - HEADER- - **/

    .header_bloc {
        flex-wrap: wrap;   
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .header_bloc1  {
        order: 1;
    }

    .header_bloc nav {
        order: 3;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 10px 10px 30px;
        margin-left: 30px;
        border-bottom:  #F2F2F2 solid 2px;
    }

    .anchor_accomodation {
        padding: 15px 40px 20px 25px;
    }

    .anchor_activities {
        padding: 15px 40px 20px 25px;
    }

    .registration {
        padding-top: 20px;
        padding-left: 50px;
        margin: 10px 0px 0px 0px;
    }

/*  - -SEARCH SECTION- - **/

    .search_button span {
        display: none;
    }

    .search_button i{
        display: block;
        color: white;
        font-size: 25px;
    }

    .search{ 
        font-size: x-large;
    }

    .search h1 {
        font-size: x-large;
    }

    .search p {
        font-size: medium;
    }

    .anchor_accomodation:hover {
        border-top: white;
        border-bottom: #0065FC 2px solid;
        width: 50%;
    }
    .anchor_activities:hover {
        border-top: white;
        border-bottom: #0065FC 2px solid;
        width: 50%;
    }

/*  - - FILTERS SECTION- - **/

    .filters {
        font-size:medium;
    }
    .filters h4 {
        font-size: medium;
        margin: 20px;
    }
    
    .filters_list li {
        margin: 10px;    
    }

    .info {
        padding: 0px 0px 20px 10px;
        margin: 0px 0px 0px 0px;
    }
/*  - -MAIN CONTENT- - **/

    main{
        width: 100%;
    }

/*  - - ACCOMODATION SECTION- - **/

    .accomodation {
        width: 100%;
    }

    .accomodation_h2 {
        font-size: large;
        padding-left: 20px;
        margin: 0px;
    }

    .Accomodation_bloc {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .accomodation_card_line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .accomodation_h3 {
        font-size: medium;
        padding: 0px;   
        margin: 0px;
    }

    .Accomodation_card {
        width: 690px;
        font-size: small;
        margin: 20px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accomodation_images {  
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 0px;
        padding: 0px;
    }

    /*  - - MOST POPULAR SECTION- - **/

    .most_popular{
        margin-bottom: 20px;
        padding-bottom: 20px;
        margin: 0px;
    }

    .most_popular_bloc {
        margin: 0px;
        padding: 20px;
    }

    .most_popular_card { 
        width: 700px;
        font-size: small;
    }

    .most_popular_images {
        width: 350px;
    }

    .most_popular_h2{
        width: 90%;
        font-size:large;
        margin: 20px 20px 0px 20px;
    }

/*  - - ACTVITIES SECTION- - **/


    .activities {
        margin-bottom: 30px;
        padding: 0px;
    }

    .activities_h2 {
        font-size: large;
    }

    .activities_bloc1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activities_bloc2{  
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .activities_h3{
        font-size: medium;
        padding: 0px;
        margin: 15px;
    }

    .activities_alone{
        align-items: center;
    }

    .activities_double {
        align-items: center;
    }

    .activities_card1{
        width: 700px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px 20px 10px;
    }

    .activities_card2{  
        width: 700px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px 20px 10px;
    }

    .activities_card3{
        width: 700px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px 20px 10px;
    }

    .activities_card4{
        width: 700px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px 20px 10px;
    }

    .activities_card5{
        width: 700px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px 20px 10px;
    }

    .activities_card6{
        width: 700px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px 20px 10px;
    }
    
    .footer{
        display: flex;
        flex-direction: row;
    }
}
/* - - - - - - - - - 375px - - - - - - - - - - **/

@media screen and (max-width: 375px)
{
    body {
        width: 100%;
    }
/*  - - HEADER- - **/

    .header_bloc {
        width: 100%;
        flex-wrap: wrap;   
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .header_bloc1  {
        order: 1;
    }

    .header_bloc nav {
        order: 3;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 10px 10px 30px;
        margin-left: 30px;
        border-bottom:  #F2F2F2 solid 2px;
    }

    .anchor_accomodation {
        padding: 15px 40px 20px 25px;
    }

    .anchor_activities {
        padding: 15px 40px 20px 25px;
    }

    .registration {
        order: 2;
        padding-top: 20px;
        padding-left: 50px;
        margin: 10px 0px 0px 0px;
    }

/*  - - SEARCH SECTION- - **/

    .search_button span {
        display: none;
    }

    .search_button i{
        display: block;
        color: white;
        font-size: 25px;
    }

    .search{ 
        font-size: x-large;
    }

    .search h1 {
        font-size: x-large;
    }

    .search p {
        font-size: medium;
    }

    .anchor_accomodation:hover {
        border-top: white;
        border-bottom: #0065FC 2px solid;
        width: 50%;
    }

    .anchor_activities:hover {
        border-top: white;
        border-bottom: #0065FC 2px solid;
        width: 50%;
    }
    
    .search_holder {
        width: 70%;
        font-size: medium;
    }

    .search_button {
        width: 20%;
        font-size: xx-small;
        border-radius: 15px;
    }

    /*  - - FILTERS SECTION- - **/

    .filters {
        font-size:medium;
    }
    .filters h4 {
        font-weight:bold;
        font-size: medium;
        margin: 10px;
    }
    .filters_list {
        font-size: medium;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0px;
    }
    
    /*  - - MAIN SECTION- - **/

    main {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border-radius: 0px;
    }

    /*  - - ACCOMODATION SECTION- - **/
    .accomodation {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .accomodation_h2 {
        font-size: large;
    }

    .accomodation_h3 {
        font-size: medium;
        padding: 0px;   
        margin: 0px;
    }
    .Accomodation_card {
        width: 100px;

    }
    .accomodation_images {  
        width: 100%;
        height: 50%;
    }
    .accomodation h4 {margin-left: 0px;}
    

     /*  - - MOST POPULAR SECTION- - **/

    .most_popular{
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .most_popular_card { 
        width: 100px;
    }

    .most_popular_images {
        width: 150px;   
        height: 130px;
        object-fit: cover;
        border-top-left-radius: 15%;
        border-bottom-left-radius: 15%;

    }
    .most_popular_h2{
        width: 90%;
        font-size:large;
        margin: 20px 0px 0px 0px;
        padding: 0px 20px; 
    }

     /*  - -ACTIVITIES SECTION- - **/
    .activities {
        width: 100%;
    }

    .activities_h2 {
        font-size: large;
    }

    .activities_h3{
        font-weight: bold;
        font-size: medium;
        padding: 0px;
        margin: 15px;
    }

    .activities_alone{
        margin: 0px;
        padding: 0px;
        width: 100%
    }

    .activities_double {
        margin: 0px;
        padding: 0px;
        width: 100%
    }

    .activities_card1{
       width: 100px;
    }

    .activities_card2{  
        width: 100px;
    }

    .activities_card3{
        width: 100px;
    }

    .activities_card4{
        width: 100px;
    }

    .activities_card5{
        width: 100px;
    }

    .activities_card6{
        width: 100px;
    }

     /*  - -FOOTER SECTION- - **/
    
    .footer{
        display: flex;
        flex-direction: column;
    }
}